<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpndev.player">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.System"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.ui.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
                android:theme="@style/Theme.Player"
        android:supportsRtl="true"
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".presentation.ui.manage_log.ViewLogosActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.video.VFolderActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".presentation.ui.video.PlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".presentation.ui.video.PlayEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".presentation.ui.video.CastPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/CastTheme" />
        <activity
            android:name=".presentation.ui.video.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">

            <!-- android:theme="@style/PlayerTheme" -->
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />
    </application>

</manifest>